.contact {
  color: #000;
  display: grid;
  justify-content: end; /* Aligns content to the right horizontally */
  align-content: center; /* Aligns content to the middle vertically */
  width: 40%; /* Optional: Adjust as needed */
  padding: 20px; /* Adds spacing inside the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
  border-radius: 10px; /* Optional: Adds rounded corners */
  
  
}
.contact-heading h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  
}
.contact-heading p {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
}

.contact-banner {
  background: url("../assets/img/contact-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex; 
  justify-content: flex-end; 
  color: #fff; /* Sets font color to white for better contrast */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
}

.contact-info p {
  font-size: 20px;
  font-weight: bold;
  font-weight: 800px;
  
}